#main
{
  display: grid;
  justify-content: center;
}
#heading
{
  text-align: center;
  font-size: 10vw;
  font-family:Brush Script MT;
  
}
#container
{
  height: 60vh;
  width: 70vw;
  background-image: linear-gradient(white,skyblue,rgb(168, 210, 230));
  overflow-y: auto;

  
}
#input
{
  padding: 2px;
  position: sticky;
  top: 0;
  border-bottom: 2px solid black;
}
input
{
  padding-left: 4px;
  width: 65%;
  margin: 1vw;
  border-radius: 20px;
  height: 40px
  
}
button
{
  width: 25%;

  height: 40px;
  border-radius: 20px;

}
input:hover, button:hover
{
  cursor:pointer;
  box-shadow:  0 4px 8px 0 rgba(235, 232, 232, 0.2), 0 6px 20px 0 white;
}

#box
{
  padding: 2vw;
  
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}


#items
{
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-radius: 20px;
  box-shadow:  0 4px 8px 0 , 0 6px 20px 0 white;
  
}

#name
{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3vh;
  width: 70%;
  
}

#delete>button
{
border: none;
background-color: transparent;
font-size: 3vh;
}

#delete>button:hover
{
cursor: pointer;
}


#date>span
{
  font-weight: bolder;
}